body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #cbd32c;
}

.container {
    text-align: center;
}

.logo {
    width: 200px; /* Ajustez cette valeur selon vos besoins */
    margin-bottom: 20px;
}

.caché {
    display: none;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

#texteBlague, #texteReponse {
    margin-top: 20px;
}
